.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.modal {
  width: 20em;
  background: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  border-radius: 3px;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
}

.modal__close {
  padding: 0;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.modal__content {
  flex: 1;
}
