.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 5em;
  padding: 0 4em;
  background: var(--lighter-black);
}

.dashboard__nav {
  display: flex;
}

.dashboard__nav > *:not(:last-child) {
  margin-right: 1em;
}

.dashboard__nav__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.dashboard__nav__link_active {
  text-decoration: underline;
}
