html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

:root {
  --orange: rgb(246, 125, 37);
  --dark-red: #7c0a02;
  --red: #b22222;
  --yellow: #f1bc31;
  --light-grey: rgb(247, 247, 247);
  --lighter-black: rgb(40, 40, 40);
  --light-black: rgb(31, 31, 31);
}
