.dragNdrop {
  display: inline-block;
  position: relative;
}

.dragNdrop__area {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed grey;
  background: rgba(255, 255, 255, 0.8);
}

.dragNdrop__description {
  font-size: 2rem;
  color: grey;
}
