.sidebar {
  display: flex;
  flex-direction: column;
  margin: 5em 4em;
  min-width: 10em;
}

.sidebar > *:not(:last-child) {
  margin-bottom: 2em;
}

.sidebar__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__group > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.group__title {
  display: inline-block;
  font-weight: 800;
}

.price__inputs {
  display: flex;
}

.price__inputs > *:not(:last-child) {
  margin-right: 0.5em;
}
