.header {
  border-bottom: 1px solid var(--orange);
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > *:not(:last-child) {
  margin-right: 1em;
}

.logo__container {
  width: 9em;
  height: 5em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  width: 100%;
}

.header__nav {
  display: flex;
}

.header__nav > *:not(:last-child) {
  margin-right: 4em;
}

.header__right > *:not(:last-child) {
  margin-right: 1em;
}
