.register__modal__title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.register__modal__form {
  display: flex;
  flex-direction: column;
}

.register__modal__form > *:not(:last-child) {
  margin-bottom: 1em;
}

.form__button {
  align-self: flex-end;
}
